* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family:  'Roboto', sans-serif;
}

header {
  background-color: #0C325A;
}
.container {
  width: 80%;
  margin: 0 auto;
}


nav {
  width: 100%;
  height: 80px;
  padding-top: 20px;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  padding-right: 40px;
}

nav ul li a, div a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

}

.logo {
  display: inline-block;
  vertical-align: middle;
  padding-right: 80px;
}

nav ul:last-child {
  float: right;
  padding-top: 7px;
}


.jumbo {
  background: url("../img/background-header.png") no-repeat;
  background-position: 125% 100%;
  background-size: contain;
  height: 490px;
  margin-top: 100px;

}

h1 {
  font-size: 60px;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 65px;
}

/* UTILITY */

.btn {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 10px;
}

.br-none {
  border: none;
}

.plr-10-40 {
  padding: 10px 40px;

}
.bg-green {
  background-color: #7CBB02;
}

.p-25 {
  padding: 25px;
}

.col-50 {
  width: 50%;
}
/* UTILITY */
